{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"quoteProps": "consistent",
	"trailingComma": "all",
	"printWidth": 120
}