.navbar-custom {
  background-color: #282e38;
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
  padding: 0 calc(1.5rem / 2) 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1001;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

@media (max-width: 1199.98px) {
  .topnav-menu {
    right: 100%;
    left: auto;
  }
}

.topnav .topnav-menu {
  margin: 0;
  padding: 0;
}

.navbar-custom .topnav-menu > li {
  float: left;
}

.navbar-custom .topnav-menu .nav-link {
  padding: 0 15px;
  color: #dee2e6;
  min-width: 32px;
  display: block;
  line-height: 70px;
  text-align: center;
  max-height: 70px;
}

.navbar-custom .topnav-menu.topnav-menu-left {
  display: inline-block;
}

.float-end {
  float: right !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.375rem !important;
}

.me-2 {
  margin-right: 0.75rem !important;
}

.me-3 {
  margin-right: 1.5rem !important;
}

.me-4 {
  margin-right: 2.25rem !important;
}

.me-5 {
  margin-right: 4.5rem !important;
}

.ms-1 {
  margin-left: 0.375rem !important;
}

.dropdown {
  position: relative;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #71b6f9;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover,
.nav-link:focus {
  color: #609bd4;
}
.nav-link.disabled {
  color: #98a6ad;
  pointer-events: none;
  cursor: default;
}

.dropdown-toggle {
  white-space: nowrap;
}

.nav-user {
  padding: 0 12px !important;
}
.nav-user img {
  height: 32px;
  width: 32px;
}

@media (max-width: 767.98px) {
  .pro-user-name {
    display: none;
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.25rem 1rem 0 -6rem;
  font-size: 0.9rem;
  color: #dee2e6;
  text-align: left;
  list-style: none;
  background-color: #343a40;
  background-clip: padding-box;
  border: 1px solid #f1f2f3;
  border-radius: 0.25rem;

  box-shadow: 0px 0px 35px 0px rgba(66, 72, 80, 0.15);
  animation-name: DropDownSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  top: 100%;
}

@keyframes DropDownSlide {
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(15px);
  }
}

.dropdown-menu-end {
  --bs-position: end;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #adb5bd;
  white-space: nowrap;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.375rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #dee2e6;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-text {
  display: block;
  padding: 0.375rem 1.5rem;
  color: #dee2e6;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-item.active,
.dropdown-item:active {
  color: #323a46;
  text-decoration: none;
  background-color: #f7f7f7;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-divider {
  height: 0;
  margin: 0.75rem 0;
  overflow: hidden;
  border-top: 1px solid #f1f2f3;
}

.profile-dropdown {
  min-width: 170px;
}
.profile-dropdown i {
  vertical-align: middle;
  margin-right: 5px;
}

.text-overflow {
  text-overflow: clip;
}

.navbar-custom .topnav-menu.topnav-menu-left {
  display: inline-block;
}

.navbar-custom .topnav-menu > li {
  float: left;
}

.navbar-custom .button-menu-mobile {
  border: none;
  color: #323a46;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}
.navbar-custom .button-menu-mobile.disable-btn {
  display: none;
}

.page-title-main {
  margin: 0;
  line-height: 70px;
  padding: 0 24px;
  color: #f8f9fa;
}
